---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

html {
  font-size: 100%;
}

body {
	background: $white;
  font: 1.125rem/1.5 $body-font;
  color: $darkGray;
  font-size-adjust: 0.5;
  margin-bottom: 4rem;
}

.container {
  margin: 0 auto;
  max-width: min(46.25rem, calc(100vw - 2rem));
  padding: 0 clamp(0.5rem, 2vw, 1rem);
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 0.75em 0 0.4em;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 2rem;
  a {
    color: inherit;
  }
}

.post-title {
  font-size: 2.5rem;
  line-height: 1.4;
  margin-top:1.5rem
}

h2 {
  font-size: 1.5rem;
  a {
    color: inherit;
  }
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
  color: $gray;
}

p {
  margin: 1rem 0;
  line-height: 1.5;
}

a {
  color: $accent;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $accent;
  }
}

ul, ol {
  margin: 1rem 0;
  padding-left: 2rem;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

sup {
  vertical-align: text-top;
  position: relative;
  top: -0.4em;
  font-size: 0.85em;
}

img {
  max-width: 100%;
}

// Tables

table {
  margin: 1rem 0;
  border-collapse: collapse;
  font-size: inherit;
}

th, td {
  padding: 0.75rem;
  text-align: left;
  border: 1px solid $midLightGray;
  vertical-align: top;
  line-height: 1.3;
}

th {
  font-family: $heading-font;
  font-weight: bold;
  color: $darkerGray;
}

// Responsive table handling
@include mobile {
  table {
    font-size: 0.875rem; // Slightly smaller on mobile
  }
  
  th, td {
    padding: 0.5rem; // Tighter padding on mobile
  }
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  // margin-bottom: 2rem;
}

.masthead {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 1rem 0;
  border-bottom: 1px solid $lightGray;

  @include mobile {
    flex-direction: column;
    text-align: center;
    gap: 0.75rem;
  }
}

.site-avatar {
  flex-shrink: 0;
  width: clamp(3.5rem, 8vw, 4.375rem);
  height: clamp(3.5rem, 8vw, 4.375rem);

  img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.site-info {
  flex-grow: 1;
  min-width: 0;
}

.site-name {
  margin: 0;
  color: $darkGray;
  cursor: pointer;
  font-family: $heading-font;
  font-weight: 600;
  font-size: 1.75rem;
  line-height: 1.2;
}

.site-description {
  font-family: $heading-font;
  margin: 0.25rem 0 0 0;
  color: $gray;
  font-size: 1rem;
  line-height: 1.5;

  @include mobile {
    margin: 0.1875rem 0;
  }
}

nav {
  flex-shrink: 0;
  display: flex;
  gap: 1.25rem;

  font-family: $heading-font;
  font-size: 1rem;

  @include mobile {
    gap: 0.625rem;
    font-size: 1rem;
  }

  a {
    color: $darkGray;
    font-weight: 400;
    letter-spacing: 0.0625rem;
    transition: color 0.2s ease;
    
    &:hover {
      color: $accent;
    }
    
    @include mobile {
      color: $accent;
    }
  }

}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  text-wrap-style: pretty;
  blockquote {
    margin: 1em .8em;
    border-left: 2px solid $gray;
    padding: 0 1em;
  }

  .comments {
    margin-top: 0.625rem;
  }

  .read-more {
    font-family: $heading-font;
    font-weight: 400;
  }
  .entry {
    a {
      color: inherit;
      text-decoration: underline;
    }
  }
}

.wrapper-footer {
  margin-top: 2rem;
  background-color: $lightGray;
}

footer {
  padding: 1.25rem 0;
  text-align: center;
}

footer i {
  color: $darkGray;
  font-size: 1.5rem;
  margin: 0 0.625rem;
}
nav i {
  color: $darkGray;
  font-size: 1.5rem;
}

.home-masthead {
  margin-top: 2rem;
  @include mobile {
    margin-top: 1rem;
  }
}



.home-content {
  border-bottom: 1px solid $lightGray;
  padding-block: 0.5rem;
  margin-bottom: 3rem;

  a.special-link {
    font-family: $heading-font;
    font-weight: 600;
  }
  a:not(.special-link) {
      font-family: $body-font;
      color: $darkGray;
      &:hover {
        color: $accent;
      }
    }
  td {
    border: none;
    padding: 0.5rem 0.75rem;
    line-height: 1.4;
    text-wrap-style: pretty;
    
  }
  td:first-child {
    text-align: right;
    white-space: nowrap;
  }
}

@keyframes fade-in {
  from {opacity: 0;}
  to {opacity: 1;}
}

.posts {
  animation: fade-in linear;
  animation-timeline: view();
  animation-range-start: entry 0%; 
  animation-range-end: entry 50%;
}

a.footnote {
  color: inherit;
  text-decoration: none !important;
  &:hover {
    color: $accent;
  }
}

sup[role="doc-noteref"] + sup[role="doc-noteref"]::before {
  content: ",";
}

img + em {
  display: block;
  font-size: 0.8em;
  color: $gray;
  text-align: center;
}

.wide-plot {
  width: 80vw;  /* 90% of viewport width */
  margin-left: 50%;
  transform: translateX(-50%);
}

@media print {
  .wrapper-masthead {
    display: none;
  }
}


// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";